{% comment %}
Super Mario Bros. quiz
Author: Peter Jungers
Date: December 2022/January 2023
{% endcomment %}


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Quiz for Super Mario Bros. games on the Nintendo Entertainment System.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'smb_quiz/style.css' %}">
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>  {# For Chrome favicon console error #}

    <title>Super Mario Bros. quiz</title>
</head>
<body>
    <div id="container">
        <h1><a href="{% url 'smb-quiz-index' %}">Super Mario Bros. quiz</a></h1>
        {% block content %}{% endblock content %}
        <footer>
            <p>Written and designed by <a href="#">Peter Jungers</a>, 2023</p>
            <p>Original pixel art made using in-game sprites as reference</p>
        </footer>
    </div>

    <script src="{% static 'smb_quiz/script.js' %}"></script>
</body>
</html>
