{% extends "smb_quiz/base.html" %}
{% load static %}

{% block content %}
    <div class="sprite">
        Star<br>
        Star<br>
        Star<br>
    </div>

    {% for q in questions %}
        <p>
            <span>{{ q.0 }}. </span> {# Question number #}
            {{ q.1 }} {# Question #}
        </p>
        <div class="answer-options">
            <div class="option">
                <a class="btn-circle btn-{{ q.0 }}">A</a>
                <p>{{ q.2.0 }}</p> {# Shuffled answer #}
            </div>
            <div class="option">
                <a class="btn-circle btn-{{ q.0 }}">B</a>
                <p>{{ q.2.1 }}</p> {# Shuffled answer #}
            </div>
            <div class="option">
                <a class="btn-circle btn-{{ q.0 }}">C</a>
                <p>{{ q.2.2 }}</p> {# Shuffled answer #}
            </div>
            <p class="message-{{ q.0 }}"></p>
        </div>
    {% endfor %}

    <div id="score-container">
        <div id="score-sprite">
            Mushroom<br>
            Mushroom<br>
            Mushroom<br>
        </div>
        <p id="calculating-score">Calculating your score<span id="dots"></span></p>
        <div id="score-results">
            <div id="score-circle"><p></p></div>
            <p id="score-message"></p>
        </div>
    </div>

    <a class="btn-rectangle" href="{% url 'smb-quiz-quiz' %}">Reset quiz</a>



    {{ array|json_script:"array" }} {# Array of encoded correct answers for JS file #}
    <script src="{% static 'smb_quiz/script.js' %}"></script>
{% endblock content %}
